.flex-item {
   // flex-direction: row;
    // width: 100px;
    // height:5px;
    // text-align: center;
    // align-items: center;
    // font-size: larger;
    // border: 2px solid rgb(251, 178, 42);
    // background-color: rgb(236, 202, 140);
    // color:black;
    // font-family: Arial, Helvetica, sans-serif;
    // padding:80px;
    // border-radius: 8px;
   // width: calc(100% * (1/4) - 10px - 1px)
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    display: inline-grid;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: inline-grid;
    border: 2px solid rgb(251, 178, 42);
    background-color: rgb(236, 202, 140);
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    padding:80px;
    border-radius: 8px;
    cursor: pointer;
  }